<div class="container">
  <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
  <div class="donut-chart-block block">
    <h2 class="headline">Activity types</h2>
    <div class="donut-chart">
      <div id="part1" class="cutout"><div class="cheese cardio" data-rel="21"></div></div>
      <div id="part2" class="cutout"><div class="cheese upperBody" data-rel="39"></div></div>
      <div id="part3" class="cutout"><div class="cheese lowerBoddy" data-rel="31"></div></div>
      <div id="endPart" class="cutout"><div class="cheese complementary" data-rel="9"></div></div>
      <!-- END -->
      <p class="center-date"><br><span class="scnd-font-color"></span></p>
    </div>
    <ul class="activity-percentages horizontal-list">
      <li>
        <p class="cardio activity scnd-font-color">Cardio</p>
        <p class="activity-percentages">21<sup>%</sup></p>
      </li>
      <li>
        <p class="upperBody activity scnd-font-color">Upper</p>
        <p class="activity-percentages">39<sup>%</sup></p>
      </li>
      <li>
        <p class="lowerBody activity scnd-font-color">Lower</p>
        <p class="activity-percentages">9<sup>%</sup></p>
      </li>
      <li>
        <p class="complementary activity scnd-font-color">Comp</p>
        <p class="activity-percentages">31<sup>%</sup></p>
      </li>
    </ul>
  </div>
  <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
  <div class="line-chart-block block">
    <div class="line-chart">
      <div class='graphic'>
        <ul class="axis-y">
          <li data-axisY='30'></li>
          <li data-axisY='20'></li>
          <li data-axisY='10'></li>
          <li data-axisY='0'></li>
        </ul>
        <ul class='axis-x'>

        </ul>
        <span data-value='25'>
           <span data-value='8'>
             <span data-value='13'>
               <span data-value='5'>
                 <span data-value='23'>
                 <span data-value='12'>
                     <span data-value='15'>
                     </span></span></span></span></span></span></span>
      </div>

    </div>
    <ul class="time-lenght horizontal-list">
    </ul>
    <ul class="month-data clear">
      <li>
        <p>Week<span class="scnd-font-color"> 1</span></p>
        <p><span class="type-plus increment"> </span>+21<sup>%</sup></p>
      </li>
      <li>
        <p>Week<span class="scnd-font-color"> 2</span></p>
        <p><span class="type-plus increment"> </span>+48<sup>%</sup></p>
      </li>
      <li>
        <p>Week<span class="scnd-font-color"> 3</span></p>
        <p><span class="type-plus increment"> </span>+35<sup>%</sup></p>
      </li>
    </ul>
  </div>



  <div class="bar-chart-block block">
    <h2 class='headline'>By Activity</h2>
    <div class='graphic bar-chart'>
      <ul class='axis-y'>
        <li data-axisY='60'></li>
        <li data-axisY='45'></li>
        <li data-axisY='30'></li>
        <li data-axisY='15'></li>
        <li data-axisY='0'></li>
      </ul>
      <ul class='axis-x'>
        <li data-axisX='37'><i>Pushup</i></li>
        <li data-axisX='56'><i>Squat</i></li>
        <li data-axisX='25'><i>Burpees</i></li>
        <li data-axisX='18'><i>Sheathing</i></li>
        <li data-axisX='45'><i>Complementary</i></li>
        <li data-axisX='50'><i>Jesus</i></li>
        <li data-axisX='33'><i>Value</i></li>
      </ul>
    </div>
  </div>
</div>
