@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #1f253d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

h1, h2, p, a, span{
  color: #fff;
}
.scnd-font-color {
  color: #9099b7;
}
.headline {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.block {
  margin: 25px 25px 0 0;
  background: #394264;
  border-radius: 5px;
  float: left;
  width: 300px;
  overflow: hidden;
}
/******************************************** LEFT CONTAINER *****************************************/
.left-container {}
.menu-box {
  height: 360px;
}

.donut-chart-block {
  overflow: hidden;
  width: 320px;
}
.donut-chart-block .headline {
  padding: 10px 0;
}
.activity-percentages li {
  width: 75px;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}
.activity {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}
.activity.cardio {
  border-top: 4px solid #e64c65;
}
.activity.upperBody {
  border-top: 4px solid #11a8ab;
}
.activity.lowerBody {
  border-top: 4px solid #fcb150;
}
.activity.complementary {
  border-top: 4px solid #4fc4f6;
}
.activity-percentages {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}
.line-chart-block, .bar-chart-block {
  height: 400px;
}
.line-chart {
  height: 200px;
  background: #11a8ab;
}
.time-lenght {
  padding-top: 22px;
  padding-left: 38px;
  overflow: hidden;
}
.time-lenght-btn {
  display: block;
  width: 70px;
  line-height: 32px;
  background: #50597b;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin-right: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.time-lenght-btn:hover {
  text-decoration: none;
  background: #e64c65;
}
.month-data {
  padding-top: 28px;
}
.month-data p {
  display: inline-block;
  margin: 0;
  padding: 0 25px 15px;
  font-size: 16px;
}
.month-data p:last-child {
  padding: 0 25px;
  float: right;
  font-size: 15px;
}
.increment {
  color: #e64c65;
}
.graphic {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.graphic span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.graphic span > span {
  left: 100%; bottom: 0;
}
[data-value='25'] {width: 75px; transform: rotate(-45deg);}
[data-value='8'] {width: 24px; transform: rotate(65deg);}
[data-value='13'] {width: 39px; transform: rotate(-45deg);}
[data-value='5'] {width: 15px; transform: rotate(50deg);}
[data-value='23'] {width: 69px; transform: rotate(-70deg);}
[data-value='12'] {width: 36px; transform: rotate(75deg);}
[data-value='15'] {width: 45px; transform: rotate(-45deg);}

[data-value]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}

[class^='axis-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.axis-x {
  height: 0.2rem;
}
.axis-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-axisY]:before {
  content: attr(data-axisY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
}
.axis-x li {
  width: 33%;
  float: left;
  text-align: center;
}

/******************************************
GRAPH CIRCULAR PIE CHART
******************************************/
.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%
}
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.cutout {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.cheese {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}
#part1 {
  transform: rotate(0deg);
}

#part1 .cheese {
  background-color: #E64C65;
  transform: rotate(76deg);
}
#part2 {
  transform: rotate(76deg);
}
#part2 .cheese {
  background-color: #11A8AB;
  transform: rotate(140deg);
}
#part3 {
  transform: rotate(215deg);
}
#part3 .cheese {
  background-color: #4FC4F6;
  transform: rotate(113deg);
}
#endPart {
  transform:rotate(-32deg);
}
#endPart .cheese {
  background-color: #FCB150;
  transform: rotate(32deg);
}
.nota-final {
  clear: both;
  color: #4FC4F6;
  font-size: 1rem;
  padding: 2rem 0;
}
.nota-final strong {
  color: #E64C65;
}
.nota-final a {
  color: #FCB150;
  font-size: inherit;
}
/**************************
BAR-CHART
**************************/
.graphic.bar-chart {
  background: #3468AF;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
  height: 60%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.bar-chart [class^='axis'] {
  padding: 0 1rem 0 2rem;
  bottom: 1rem;
}
.bar-chart .axis-x {
  bottom: 0;
}
.bar-chart .axis li {
  height: 20%;
  border-top: 1px solid #fff;
}
.bar-chart .axis-x li {
  width: 14%;
  position: relative;
  text-align: left;
}
.bar-chart .axis-x li i {
  transform: rotatez(-45deg) translatex(-1rem);
  transform-origin: 180% 200%;
  display: block;
}
.bar-chart .axis-x li:before {
  content: '';
  position: absolute;
  bottom: 1.9rem;
  width: 70%;
  right: 5%;
  box-shadow: 3px 0 rgba(0,0,0,.1), 3px -3px rgba(0,0,0,.1);
}
.bar-chart .axis-x li:nth-child(1):before {
  background: #E64C65;
  height: 570%;
}
.bar-chart .axis-x li:nth-child(2):before {
  background: #11A8AB;
  height: 900%;
}
.bar-chart .axis-x li:nth-child(3):before {
  background: #FCB150;
  height: 400%;
}
.bar-chart .axis-x li:nth-child(4):before {
  background: #4FC4F6;
  height: 290%;
}
.bar-chart .axis-x li:nth-child(5):before {
  background: #FFED0D;
  height: 720%;
}
.bar-chart .axis-x li:nth-child(6):before {
  background: #F46FDA;
  height: 820%;
}
.bar-chart .axis-x li:nth-child(7):before {
  background: #15BFCC;
  height: 520%;
}

