<head>
  <title>Profile</title>
  <link rel="stylesheet" href="profile.component.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<!-- NAV BARRE -->
<app-nav></app-nav>

<div id="site">
  <!-- logo -->
  <div class="banner" id="banner">

    <div class="clouds">
      <img src="../../../assets/images/cloud1.png" style="--i:1;">
      <img src="../../../assets/images/cloud2.png" style="--i:2;">
      <img src="../../../assets/images/cloud3.png" style="--i:3;">
      <img src="../../../assets/images/cloud4.png" style="--i:4;">
      <img src="../../../assets/images/cloud5.png" style="--i:5;">
      <img src="../../../assets/images/cloud1.png" style="--i:10;">
      <img src="../../../assets/images/cloud2.png" style="--i:9;">
      <img src="../../../assets/images/cloud3.png" style="--i:8;">
      <img src="../../../assets/images/cloud4.png" style="--i:7;">
      <img src="../../../assets/images/cloud5.png" style="--i:6;">

    </div>
  </div>


  <!-- section 1  -->
  <section id="sec1">
    <h2>Accueil</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices
      id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi.
      Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros.
      Suspendisse non lectus lorem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices
      id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi.
      Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros.
      Suspendisse non lectus lorem.</p>



    <div class="compteur">
      <h2>Plugins réalisés</h2>

      <h2>Clients satisfaits</h2>

    </div>

  </section>

  <!-- section 2 -->
  <section id="sec2">

    <div class="discord">
      <div id="disc">
        <h2>Contact</h2>
        <iframe src="https://discordapp.com/widget?id=752904608598458488&theme=dark" width="350" height="500" id="discord" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <a href="https://discord.gg/4c7EKRj" target="_blank" id="discJoin">
          <i class="icon fab fa-discord fa-w-14 fa-5x" ></i>
        </a>
      </div>
    </div>
  </section>

  <!-- section 3 -->
  <section id="sec3">
    <div>
      <h3 id="caddie">🛒</h3>
      <h2>Commander</h2>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe7UnAzSIv2Zgg5F8kihEw7vNyziOkLbKt2xOXG-pm6UCjMWw/viewform?embedded=true" width="640" height="603" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>

    </div>
  </section>

  <!-- section 4 -->
  <section id="sec4">
    <div>
      <h2>Nos partenaires</h2>
      <div id="zonePartenaires">
        <div class="partenaire"><img src="../../../assets/images/image1.png" height="100%" width="100%" align="center"> </div>
        <div class="partenaire"><img src="../../../assets/images/image2.png" height="100%" width="100%" align="center"> </div>
      </div>
    </div>
  </section>

  <!--  footer-->
  <app-footer></app-footer>

</div>
</body>

