<h2 class="subtitle">User managment</h2>
<div class="user">
  <h3 class="subtitle-2">User List</h3>
  <div class="userTable" *ngIf="isUserVisible">
    <div class="table-wrapper">
      <table border="solid" class="fl-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Points</th>
          <th>Trainings</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.points.toFixed(2)}}</td>
          <td><button (click)="displayTrainings(user.id)" class="btn btn-info">View</button></td>
          <td><button (click)="removeUser(user.id)" class="btn btn-outline-danger">❌</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="trainingTable" *ngIf="isTrainingVisible">
    <button (click)="hideTrainings()">Close</button>
    <div class="table-wrapper">
      <table border="solid" class="fl-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Repetitions</th>
          <th>Activity</th>
          <th>Points</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let training of trainings">
          <td>{{training.id}}</td>
          <td>{{training.trainingDateValue}}</td>
          <td>{{training.repetitions}}</td>
          <td>{{training.activityName}}</td>
          <td>{{training.points.toFixed(2)}}</td>
          <td><button (click)="removeTraining(training.id)">X</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
