<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xl">
      <a class="navbar-brand" href="#banner">Menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#sec1">🏡 Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec2">☎  Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec3">🛒 Commander</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec4">✨ Partenaires</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" id="search" placeholder="🔎 Rechercher..." aria-label="Rechercher">
        </form>
      </div>
    </div>
  </nav>
</div>
