<h1>ADMIN SECTION</h1>

<h2>User managment</h2>
<div class="user">
  <h3>User List</h3>
  <div class="userTable" *ngIf="isUserVisible">
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Email</td>
          <td>Admin</td>
          <td>Points</td>
          <td>Trainings</td>
          <td>Remove</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.admin}}</td>
          <td>{{user.points.toFixed(2)}}</td>
          <td><button (click)="displayTrainings(user.id)">View</button></td>
          <td><button (click)="removeUser(user.id)">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="trainingTable" *ngIf="isTrainingVisible">
    <button (click)="hideTrainings()">Close</button>
    <table>
      <thead>
      <tr>
        <td>Id</td>
        <td>Date</td>
        <td>Repetitions</td>
        <td>Activity</td>
        <td>Points</td>
        <td>Remove</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let training of trainings">
        <td>{{training.id}}</td>
        <td>{{training.trainingDateValue}}</td>
        <td>{{training.repetitions}}</td>
        <td>{{training.activityName}}</td>
        <td>{{training.points.toFixed(2)}}</td>
        <td><button (click)="removeUser(training.id)">X</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<h2>Activity managment</h2>
<div class="category">
  <ul>
    <li *ngFor="let category of categories" (click)="getActivities(category.id)">{{category.name}}</li>
  </ul>
</div>
<div class="activity">
  <table>
    <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Repetitions</td>
      <td>Unit</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{activity.id}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.repetitions}}</td>
      <td>{{activity.unit}}</td>
    </tr>
    </tbody>
  </table>
  <div class="category">
  </div>
  <div class="unit">
  </div>
</div>
