<h2 class="subtitle" >Activity managment</h2>
<div class="activity-board">
  <div class="category">
    <div class="table-wrapper">
      <table border="solid" class="fl-table">
        <thead>
        <tr>
          <th *ngFor="let category of categories" (click)="getActivities(category.id)" class="category">{{category.name}}</th>
        </tr>
        </thead>
      </table>
    </div>

  </div>
  <div class="activity">
    <div class="table-wrapper">
      <table border="solid" class="fl-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Repetitions</th>
          <th>Unit</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities">
              <td>{{activity.id}}</td>
              <td>{{activity.name}}</td>
              <td>{{activity.repetitions}}</td>
              <td>{{activity.unitType}}</td>
              <td><button (click)="displayUpdateActivity(activity)" class="btn btn-outline-primary">🔄</button></td>
              <td><button (click)="removeActivity(activity.id)" class="btn btn-outline-danger">❌</button></td>
            </tr>
            <tr>
              <td colspan="6">
                <form  [formGroup]="activityUpdateForm" (ngSubmit)="updateActivity()" class="d-flex justify-content-around">
                <input class="col-sm-1 col-form-label" type="text" formControlName="name" [(ngModel)]="bufferActivity.name">
                <input class="col-sm-1 col-form-label" type="number" min="0" formControlName="repetitions" [(ngModel)]="bufferActivity.repetitions">
                <select class="col-sm-1 col-form-label" formControlName="categoryId" id="categorySelectorUpdate" (change)="changeCategoryIdUpdate() ">
                  <option  *ngFor="let category of categories" value="{{category.id}}" [selected]="bufferActivity.categoryName == category.name">{{category.name}}</option>
                </select>
                <select class="col-sm-1 col-form-label" formControlName="unitId" id="unitSelectorUpdate" (change)="changeUnitIdUpdate()">
                  <option  *ngFor="let unit of units" value="{{unit.id}}" [selected]="bufferActivity.unitType == unit.type">{{unit.type}}</option>
                </select>
                <button type="submit" [disabled]="activityUpdateForm.invalid" class="btn btn-outline-success" *ngIf="isUpdateVisible">Update</button>
                 </form>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="activity-managment">
  <br/>
  <h3 class="subtitle-2">Add new activity</h3>
  <form [formGroup]="activityForm" (ngSubmit)="addActivity()" class="text-center ">
    <label class="col-sm-1 col-form-label">Name : </label>
    <input type="text" formControlName="name">
    <label class="col-sm-1 col-form-label">Repetitions : </label>
    <input type="number" min="0" formControlName="repetitions">
    <label class="col-sm-1 col-form-label">Unit : </label>
    <select formControlName="unitId" id="unitSelectorCreate"  (change)="changeUnitIdCreate()">
      <option  *ngFor="let unit of units" value="{{unit.id}}">{{unit.type}}</option>
    </select>
    <br/>
    <br/>
    <button type="submit" [disabled]="activityForm.invalid" class="btn btn-outline-success col-sm-1 col-form-label">Add</button>
  </form>
  <br/>
  <h3 class="subtitle-2">Add new category</h3>
  <div class="category">
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="text-center">
      <label class="col-sm-1 col-form-label">Name : </label>
      <input type="text" formControlName="name">
      <br/>
      <br/>
      <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-outline-success col-sm-1 col-form-label">Add</button>
    </form>
  </div>
  <br/>
  <h3 class="subtitle-2">Add new unit</h3>
  <div class="unit">
    <form [formGroup]="unitForm" (ngSubmit)="addUnit()" class="text-center">
      <label class="col-sm-1 col-form-label">Type : </label>
      <input type="text" formControlName="type">
      <br/>
      <br/>
      <button type="submit" [disabled]="unitForm.invalid" class="btn btn-outline-success col-sm-1 col-form-label">Add</button>
    </form>
  </div>
</div>

