<div id="site">
  <!-- logo -->
  <div class="banner" id="banner">
    <router-outlet></router-outlet>
    <div class="clouds" clouds>
      <img src="../../../assets/images/cloud1.png" style="--i:1;">
      <img src="../../../assets/images/cloud2.png" style="--i:2;">
      <img src="../../../assets/images/cloud3.png" style="--i:3;">
      <img src="../../../assets/images/cloud4.png" style="--i:4;">
      <img src="../../../assets/images/cloud5.png" style="--i:5;">
      <img src="../../../assets/images/cloud1.png" style="--i:10;">
      <img src="../../../assets/images/cloud2.png" style="--i:9;">
      <img src="../../../assets/images/cloud3.png" style="--i:8;">
      <img src="../../../assets/images/cloud4.png" style="--i:7;">
      <img src="../../../assets/images/cloud5.png" style="--i:6;">

    </div>
  </div>
  <!--  footer-->
  <app-footer></app-footer>
</div>


